@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);

html{
    height: 100%;
}
body{
    font: 12px Arial;
}

.background {
    fill: #fff;
    pointer-events: all;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 26px;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
.map-layer {
    fill: #fff;
    stroke: #aaa;
}

.effect-layer{
    pointer-events:none;
}

text{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

text.big-text{
    font-size: 30px;
    font-weight: 400;
}

.effect-layer text, text.dummy-text{
    font-size: 12px;
}
#worldMap{
    position: block;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin: 0 auto;
}
.tooltip{ background-color:rgba(68,136,187,0.5);;
    margin: 10px;
    height: 50px;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Legend Position Style */
.legend {
    position:absolute;
    left:800px;
    top:350px;
}

/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 16px;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
}

.center {
    margin: 0 auto;
    text-align: center;
}


.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

#scatterplot{
    display: block;
    height:1350px;
    width: 1400px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    font: 10px sans-serif;
}
